<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
      [v-cloak] {
          display: none;
      }
      </style>
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1 ref="header">План по изучению Vue.js</h1>

      <div class="steps" v-cloak>
        <div class="steps-content" >
          <p v-show="index === activeIndex" v-for="(item, index ) in steps">
            {{item.text}}
          </p>
        </div>
        <ul class="steps-list">
          <li
          class="steps-item" v-for="(item, index) in steps"
          :class="{ active: index === activeIndex, done: index < activeIndex}"
          @click = "setActive(index)"
          >
          <span>{{index + 1}}</span>{{item.title}}</li>
        </ul>
        <div>
          <button 
          ref="prev"
          class="btn"
          :disabled="isButtonDisabled"
          @click = "prev"
          >Назад</button>
          <button
          ref="next"
          class="btn primary"
          :hidden="islastStep"
          @click = "nextOfFinish(index)"
          >Вперед</button>
          <button
          ref="continue"
          :hidden="!islastStep"
          class="btn"
          @click="continueStep"
          >Закончить</button>
          <button
          ref="reset"
          hidden
          class="btn"
          @click="reset"
          >Начать заново</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
